/*
* Global styles
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import './mixins.scss';

// Colors
:root {
  --color-white: #F5F3F5;
	--color-grey-light: #F2F2F2;
  --color-grey: #7B7A7A;
  --color-grey-hover: #C0C0C0;
  --color-black: #000000;
}

#root {
	min-width: 382px;
}

p,
span,
a,
li,
input,
label,
textarea,
select,
table,
button {
  @include font(1rem, 300, 33px);
}

input {
  padding: 0 10px;

  &:hover {
    color: var(--color-grey);
  }
}

input, textarea {
  outline: none;
}

h1 {
  @include font(2.5rem, 500, 34px);

  @include responsive(xs) {
    font-size: 2.2rem;
  }
}

h2 {
  @include font(2rem, 500, 34px);

  @include responsive(xs) {
    font-size: 1.9rem;
  }
}

h3 {
  @include font(1.5rem, 500, 34px);
}

h4 {
  @include font(1.2rem, 500, 34px);
}